<footer>
	<hr>
	<p>&copy; {{ now.Year }} by André Bering<br>
	All content on this site is – unless stated otherwise – licensed as <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0</a>.</p>
	<a href="/index.xml" title="RSS Feed"><i class="footer-link footer-link-rss"></i></a>
	<a target="_blank" title="GitHub" href="https://github.com/eBerdnA"><i class="footer-link footer-link-github"></i></a>
	<a target="_blank" title="Mastodon" href="https://chaos.social/@eBerdnA"><i class="footer-link footer-link-mastodon"></i></a>
	<a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/andrebering/"><i class="footer-link footer-link-linkedin"></i></a>
</footer>
